@import url("https://fonts.googleapis.com/css2?family=Arimo:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");

html,
body {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100%;
  font-family: "Arimo", sans-serif;
  letter-spacing: 0.03em;
  line-height: 1.6;
  color: white;
  background-color: rgb(18, 0, 32);
}

a {
  text-decoration: none;
}

img {
  width: 400px;
}

*:focus {
  outline: none;
}

input {
  background-color: #74006169;
  color: white;
  border: none !important;
  font-size: 1.5rem;
}

.title {
  text-align: center;
  font-size: 40px;
  color: #6a6a6a;
  font-weight: 100;
}

.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}

.container .card {
  width: 330px;
  height: 430px;
  border-radius: 8px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin: 20px;
  text-align: center;
  transition: all 0.25s;
  background-color: rgba(31, 30, 30, 0.349);
}

.container .card:hover {
  transform: translateY(-15px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.5);
}

.container .card img {
  width: 330px;
  height: 220px;
}

.container .card h4 {
  margin: 5px;
  font-weight: 600;
  font-size: 18px;
}

.container .card p {
  padding: 0 1rem;
  font-size: 16px;
  font-weight: 300;
}

.container .card a {
  font-weight: 500;
  text-decoration: none;
  color: #3498db;
}

.container-rating {
  display: flex;
}

.container-rating p {
  font-size: 20px;
}

.joystick {
  width: 200px;
}

.line {
  font-size: 2.5rem;
  font-family: "Arimo", sans-serif;
  border-right: solid 1.5px rgba(255, 255, 255, 0.7);
  white-space: nowrap;
  overflow: hidden;
  width: 41ch;
  text-align: center;
  animation: typewriter 3s steps(41) 1s, cursor 500ms steps(41) infinite;
}

@keyframes typewriter {
  0% {
    width: 0;
  }
  100% {
    width: 41ch;
  }
}

@keyframes cursor {
  0% {
    border-right-color: rgba(255, 255, 255, 0.7);
  }
  100% {
    border-right-color: transparent;
  }
}

.face {
  display: block;
  margin: auto;
  width: 77%;
}

.video-container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.text-container {
  display: flex;
  justify-content: center;
  background-color: rgb(26, 2, 26);
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  display: flex;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-details {
  width: 80%;
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-areas: "cover content";
  box-shadow: -2px 0px 33px 0px rgba(0, 0, 0, 0.75);
  padding-top: 20px;
}

.cover {
  grid-area: cover;
  height: 80vh;
  background-size: cover;
  background-position: center center;
}

.content {
  grid-area: content;
  background: #200429;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
}

.background {
  width: 100%;
}

.black-label {
  width: 90%;
  padding-left: 20px;
}

.black-label p {
  font-size: 18px;
  color: rgb(128, 128, 128);
}

.title {
  color: #efefef;
  font-size: 64px;
}

.star {
  width: 50px;
}

select {
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  font-size: 1rem;
  padding: 1em 1.5em;
  background: #4d5061;
  color: white;
  border: 0;
  margin-right: 12px;
}

.container-top {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-form {
  max-width: 700px;
  background: #fff;
  padding: 25px 30px;
  border-radius: 5px;
  background-color: #200429;
}

.container-form .title {
  font-weight: 500;
  position: relative;
}

.container-form .title::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 350px;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

.container form .game-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

form .game-details .input-box {
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}

.game-details .input-box .details {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}

.game-details .input-box input {
  height: 45px;
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding-left: 15px;
  font-size: 16px;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}

.game-details .input-box input:focus,
.game-details .input-box input:valid {
  border-color: #9b59b6;
}

form .gender-details .gender-title {
  font-size: 20px;
  font-weight: 500;
}

form .gender-details .category {
  display: flex;
  width: 70%;
  margin: 14px 0;
  justify-content: space-between;
  flex-wrap: wrap;
}

.gender-details .category label {
  display: flex;
  align-items: center;
}

.gender-details {
  width: 600px;
  height: 150px;
  position: relative;
}

.gender-details div {
  display: flex;
  flex-wrap: wrap;
}

.body-details {
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  margin: 0;
}

.btn {
  outline: none;
  display: block;
  border: 0;
  font-size: 16px;
  line-height: 1;
  padding: 16px 30px;
  border-radius: 30px;
  background: #1c1577;
  color: #ffffff;
  cursor: pointer;
  font-family: "Roboto Slab", serif;
  margin: 20px;
}

.btn:hover,
.btn:focus {
  background: #0f0c41;
}

.btn:active {
  background: #1c1577;
}

.button-container {
  display: flex;
}

.success {
  position: absolute;
  bottom: -190px;
  right: 10px;
  background-color: rgb(106, 168, 126);
  padding: 20px 40px;
  border-radius: 5px;
  border-left: 6px solid rgb(28, 78, 28);
}

.check {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  font-size: 30px;
  color: rgb(3, 71, 3);
}

.msg {
  font-size: 19px;
  color: rgb(32, 90, 32);
  margin: 0 30px;
  user-select: none;
}

.success.show {
  animation: show_slide 1s ease forwards;
}

@keyframes show_slide {
  0% {
    transform: translateX(100%);
  }
  40% {
    transform: translateX(-10%);
  }
  80% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-10%);
  }
}

.error {
  position: absolute;
  bottom: -190px;
  right: 10px;
  background-color: rgb(124, 4, 0);
  padding: 20px 40px;
  border-radius: 5px;
  border-left: 6px solid rgb(221, 0, 0);
}

.msg-error {
  font-size: 19px;
  color: white;
  margin: 0 30px;
  user-select: none;
}

.error.show {
  animation: show_slide 1s ease forwards;
}

.danger {
  color: red;
}

.back-btn {
  background-color: rgb(148, 10, 10);
  text-decoration: none;
}

.platforms {
  height: 100px;
}

.link {
  max-width: max-content;
}

.placeholder::placeholder {
  padding-left: 0.3rem;
  font-size: 1.25rem;
}

input[type="checkbox"] {
  color: magenta !important;
}
